<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'app/content/admin.css' %}" />-->
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'admin_reports' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_users' %}">User Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_requests' %}">Status Change Request</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

</body>
</html>
